* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.logo-menu {
  height: 150px;
}

.navbar-collapse {
  flex-grow: 0;
}
.color-logo {
  color: #00adb5;
}
.color-nav {
  color: #212529;
}
p.color-nav {
  font-size: 1.5rem;
  font-weight: 600;
}

.div-img {
  max-height: 400px;
}

.page-not-found {
  width: 100vh;
}

.form-buy {
  padding: 10px;
  margin: 20px;
  width: 400px;
  border: 1px solid;
}

.error {
  font-size: 1rem;
  color: red;
}

.img-table {
  width: 48px;
}
.link-blanco {
  color: white;
}

.img-load {
  width: 100%;
  height: auto;
}

.spinner {
  width: 100%;
  height: 200px;
}

.btn-buscar {
  background-color: transparent;
  border-color: #00adb5;

  &:hover {
    background-color: #00adb5;
    font-weight: 600;
    border-color: transparent;
  }
}

@media (max-width: 767px) {

  .icon-carrito{
    margin-top: 20px;
  }
  .spinner {
    margin-top: 100px;
    height: auto;
  }

  p.color-nav {
    font-size: 1rem;
    font-weight: 600;
  }
}
