* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

/* Navbar */
.navbar-collapse {
  flex-grow: 0;
}

/* Tamaño de imagenes  */
.logo-menu {
  height: 150px;
}

.div-img {
  max-height: 400px;
}

.img-table {
  width: 48px;
}


/* Loader */
.spinner {
  width: 100%;
  height: 200px;
}

/* Colores */
.color-logo {
  color: #00adb5;
}

.color-nav {
  color: #212529;
}

p.color-nav {
  font-size: 1.5rem;
  font-weight: 600;
}

.link-blanco {
  color: white;
}

/* Estilos aplicados en el formulario */
.form-buy {
  padding: 10px;
  margin: 20px;
  width: 400px;
  border: 1px solid;
}
textarea {
  resize: none;
}
.error {
  font-size: 1rem;
  color: red;
}

/* Botones */
.btn-buscar {
  background-color: transparent;
  border-color: #00adb5;

  &:hover {
    background-color: #00adb5;
    font-weight: 600;
    border-color: transparent;
  }
}

.link-hover {
  color: #212529;
  &:hover {
    color: white;
  }
}

/* Media queries */

@media (max-width: 767px) {
  .icon-carrito {
    margin-top: 20px;
  }
  .spinner {
    margin-top: 100px;
    height: auto;
  }

  p.color-nav {
    font-size: 1rem;
    font-weight: 600;
  }
}
